body {
        font-family: "Jua";
        font-weight: 400;
        font-style: normal;
        margin: 0;
}
section {
    width: 100%;
    height: 100vh;
    text-align: center;
}
section:nth-child(odd) {
    background-color: skyblue;
}
.wrapper {
    padding: 88px;
    max-width: 1200px;
    margin: auto;
}
h1 {
    color: rgb(30, 103, 187);
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
    font-weight: 100;
}
.btns {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.btns .container {
    position: relative;
    max-width: 900px;
    padding: 20px;
    margin: auto;
}
.btns_menu {
    display: flex;
    justify-content: center;
}
.btns_menu .btn {
    font-size: 16px;
    font-weight: 600;
    color: #193a40;
    width: 150px;
    height: 40px;
    margin: 4px;
    cursor: pointer;
    background-color: none;
}
.container_bgcolor {
    background-color: skyblue;
    transition: 0.3s;
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container_bgcolor.show {
    opacity: 1;
}
.btns_menu .btn:hover {
    background-color: #ab63e6;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.arrow-up{
    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 70px;
    height: 70px;
    background-color: beige;
    color: gray;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
.arrow-up span {
    font-size: 40px;
}
.arrow-up.show {
    opacity: 1;
}